h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
    color: #1ac1d4;
}
h4 {
    font-size: 18px;
}
.code-example {
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    color: #17ff0b;
    p{
        color: rgb(233, 229, 229);
    }
}