<form class="form-horizontal" *ngIf="mode === 'create'">
    <div class="form-group">
        <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Name:</label>
        <div class="col-lg-6 col-md-6 col-sm-6 col-cs-12">
            <input type="text" name="name" class="form-control" [(ngModel)]="commentDetails.name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Email Id:</label>
        <div class="col-lg-6 col-md-6 col-sm-6 col-cs-12">
            <input type="email" name="email" class="form-control" [(ngModel)]="commentDetails.email">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Message:</label>
        <div class="col-lg-6 col-md-6 col-sm-6 col-cs-12">
            <textarea class="form-control" name="message" [(ngModel)]="commentDetails.message"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12"></label>
        <div class="col-lg-6 col-md-6 col-sm-6 col-cs-12">
            <button class="btn btn-primary" [disabled]="saving === 'true'" (click)="saveComment()">
                <span *ngIf="saving !== 'true'">Save</span>
                <span *ngIf="saving === 'true'">
                        <i class="fa fa-spinner fa-spin"></i>
                </span>
            </button>
        </div>
    </div>
</form>
<div *ngIf="mode === 'read'">
    <div *ngFor="let commentDetail of commentList" class="comment-section">
        <h2><b>Submitted by: {{commentDetail.name}}</b></h2>    
        <h4 style="color:#8BC34A;">{{commentDetail.message}}</h4>
    </div>
    <span *ngIf="loading === 'true'">
            <i class="fa fa-spinner fa-spin"></i>
    </span>
</div>