<div class="row custom-row">
    <!-- <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 left-aside box-shadow">
        <nvd3 [options]="options" [data]="data"></nvd3>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 right-aside box-shadow">
            <h2 class="font-bold">All Queries</h2>
            <span *ngIf="isLoading === 'true'"><i class="fa fa-spinner fa-spin"></i></span>
            <hr>
            <table class="table" *ngIf="isLoading === 'false'">
                <thead>
                    <th>
                        Name
                    </th>
                    <th>
                       Email
                    </th>
                    <th>
                        Mobile
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Message
                    </th>
                </thead>
                <tr *ngFor="let contact of contactDetails">
                    <td>{{contact.name}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.mobile}}</td>
                    <td>{{contact.city}}</td>
                    <td>{{contact.message}}</td>
                </tr>
            </table>   
    </div> -->
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 left-side box-shadow">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a [routerLink]="['personalInfo']">Personal Info</a>
            </li>
            <li>
                <a [routerLink]="['jsTutorials']">Javascript Tutorials</a>
            </li>
            <li>
                <a [routerLink]="['angTutorials']">Angular Tutorials</a>
            </li>
            <li>
                <a [routerLink]="['myAsset']">My Asset</a>
            </li>
        </ul>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 right-aside box-shadow">
        <router-outlet></router-outlet>
    </div>
</div>