/* You can add global styles to this file, and also import other style files */
body{
    color: #000;
    background-color: #f1f1f1;
}
 h1, h2, h3, h4, h5, h6, p, span{
font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.large-font-size{
    font-size: 24px !important;
}
.font-bold{
    font-weight: bold;
}
.btn{
    padding: 12px;
}
hr{
    margin-top: 0px;
    margin-bottom: 0px;
}
.custom-row {
    margin-bottom:10px;
}

.box-shadow{
    background-color: white;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
@media only screen and (min-width:1024px){
.left-aside{
    margin: 0px 7px 0px 8px;
    max-width:31%;
    width: 31%;
}
.right-aside {
    width: 67.4%;
}
}
.ng-valid[required], .ng-valid.required  {
    border-left: 10px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form),  {
    border-left: 10px solid #ec0d0d; /* red */
  }
  .custom-error  {
    border-left: 10px solid #ec0d0d !important; /* red */
  }
  .error-message{
      color:#ec0d0d;
  }
  .like-section {
    position: relative;
    float: right;
    top: -51px;
    color: #13cc13;
    >app-btn-like{
        float: right;
    }
}
 @media only screen and (min-width:400px){
    .btn-container {
        width: 19%;
    }
 }

 .first-indent {
    margin-left: 25px;
 }
 .keword-color{
     color: #73a7f5;
 }
 .code-example {
    padding: 10px;
    background-color: #8a8787;
    border-radius: 5px;
    color: white;
    margin: 0;
    p{
        color: rgb(233, 229, 229);
    }
}

.margin-top-bottom {
    margin-top: 75px;
    margin-bottom: 15px;
}

.slide-down {
    overflow:hidden;
    transition:transform 1s ease-in; // note that we're transitioning transform, not height!
    height:auto;
    transform:scale(0); // implicit, but good to specify explicitly
    transform-origin:top; // keep the top of the element in the same place. this is optional.
}
.slide {
    transform:scale(1); // *squish*
}

@keyframes fadein {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.50;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}