<div class="row custom-row" [@slideInOut]>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 left-aside box-shadow">
    <div class="row">
      <img src="../assets/prem.png">
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <i class="fa fa-briefcase fa-fw font-icon-override"></i>
        <span>Front End Consultant</span>
      </div>
      <div class="col-lg-12 col-md-12">
        <i class="fa fa-home fa-fw font-icon-override"></i>
        <span>Pune, India</span>
      </div>
      <div class="col-lg-12 col-md-12">
        <i class="fa fa-envelope fa-fw font-icon-override"></i>
        <span>prem1014prakash@gmail.com</span>
      </div>
      <div class="col-lg-12 col-md-12">
        <i class="fa fa-phone font-icon-override"></i>
        <span>+918446012999</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <i class="fa fa-asterisk fa-fw font-icon-override"></i>
        <span>Hot Skills</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-color: #FFEB3B;">
        <h4>Angular</h4>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-color: #FF9800;">
        <h4>HTML5</h4>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"  style="background-color: #CDDC39;">
        <h4>JavaScript</h4>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-color: #FF5722;">
        <h4>React Js</h4>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <i class="fa fa-asterisk fa-fw font-icon-override"></i>
        <span>Skills</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <span>Angular Js 1.x</span>
      </div>
    </div>
    <div class="row skill-container">
      <div class="col-lg-12 col-md-12 skill-name" style="width:90%" title="Angular js 1.x">
        <span>90%</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <span>HTML5</span>
      </div>
    </div>
    <div class="row skill-container">
      <div class="col-lg-12 col-md-12 skill-name" style="width:85%" title="HTML5">
        <span>85%</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <span>Angular Js 2/4</span>
      </div>
    </div>
    <div class="row skill-container">
      <div class="col-lg-12 col-md-12 skill-name" style="width:60%" title="Angular js 2/4">
        <span>60%</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <span>React JS</span>
      </div>
    </div>
    <div class="row skill-container">
      <div class="col-lg-12 col-md-12 skill-name" style="width:40%" title="React Js">
        <span>40%</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <span>CSS</span>
      </div>
    </div>
    <div class="row skill-container">
      <div class="col-lg-12 col-md-12 skill-name" style="width:85%" title="CSS">
        <span>85%</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <span>CSS3</span>
      </div>
    </div>
    <div class="row skill-container">
      <div class="col-lg-12 col-md-12 skill-name" style="width:80%" title="CSS3">
        <span>80%</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <span>JavaScripts</span>
      </div>
    </div>
    <div class="row skill-container">
      <div class="col-lg-12 col-md-12 skill-name" style="width:90%" title="JavaScripts">
        <span>90%</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <span>Rest API using Node Js</span>
      </div>
    </div>
    <div class="row skill-container">
      <div class="col-lg-12 col-md-12 skill-name" style="width:50%" title="Node Js">
        <span>50%</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <span>Mongo DB</span>
      </div>
    </div>
    <div class="row skill-container">
      <div class="col-lg-12 col-md-12 skill-name" style="width:30%" title="Mongo DB">
        <span>30%</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <i class="fa fa-globe fa-fw font-icon-override"></i>
        <span>Language</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <span>English</span>
      </div>
    </div>
    <div class="row skill-container">
      <div class="col-lg-12 col-md-12 skill-name" style="width:85%">
        <span>85%</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <span>Hindi</span>
      </div>
    </div>
    <div class="row skill-container">
      <div class="col-lg-12 col-md-12 skill-name" style="width:90%">
        <span>90%</span>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 right-aside box-shadow">
    <span *ngIf="isLoading">
      <i class="fa fa-spinner fa-spin"></i>
    </span>
    <div *ngIf="!isLoading">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h2 class="large-font-size">
            <i class="fa fa-suitcase fa-fw font-icon-override large-font-size"></i>
            <span> Work Experience</span> -
            <span class="span-color">{{myDetails.totalExp}} months</span>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h4>{{myDetails.summary}}</h4>

        </div>
      </div>
      <hr>
      <div class="row" *ngFor="let experienceDetail of myDetails.experience">
        <div class="col-lg-12 col-md-12">
          <h2 class="custom-title">{{experienceDetail.title}} -
            <span class="span-color">{{experienceDetail.company}}</span>
          </h2>
          <h4>
            <span>
              <i class="fa fa-calendar fa-fw font-icon-override"></i>
            </span>
            <span class="span-color">
              {{experienceDetail.startDate | date}}
            </span>
            <span>-</span>
            <span *ngIf="experienceDetail.tillNow" class="current">Current</span>
            <span *ngIf="!experienceDetail.tillNow" class="span-color">
              {{experienceDetail.endDate | date}}
            </span>
            <span class="span-color" style="margin-left:30px;">{{experienceDetail.totalExp}} months</span>
          </h4>
          <h4>{{experienceDetail.descriptions}}</h4>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h2 class="large-font-size">
            <i class="fa fa-certificate  fa-fw font-icon-override large-font-size"></i>Education</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngFor="let educationDetail of myDetails.education">
          <h2 class="custom-title">{{educationDetail.universityName}}</h2>
          <h4>
            <span>
              <i class="fa fa-calendar fa-fw font-icon-override"></i>
            </span>
            <span class="span-color">
              {{educationDetail.yop}}
            </span>
          </h4>
          <h4>
            <span class="span-color font-icon-override">{{educationDetail.class}}</span>
          </h4>
          <h4>
            <span class="span-color font-icon-override">{{educationDetail.division}}</span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>